.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #1d047a;
}
.h-custom {
  min-height: 100vh;
}
@media (max-width: 450px) {
  .h-custom {
  height: 100%;
  }
}
.footer {
  width: 100% !important;
 
}