.form-container {
  background: #fff;
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 24px #0A1F4410;
  border: 2px solid #0A1F44;
}

.form-title {
  color: #0A1F44;
  margin-bottom: 20px;
  margin-left: 180px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  color: #0A1F44;
}

.form-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #0A1F44;
  border-radius: 4px;
}

.submit-button {
  background-color: #0A1F44;
  color: #fff;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.course-group {
  color: #0A1F44;
  margin-bottom: 15px;
}
.course-group select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #0A1F44;
  border-radius: 4px;
}